@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $primaryColor;
  font-family: $mainFontFamily;
}

h1 {
  color: $secondaryColor;
  font-size: 42px;
  margin-bottom: 20px;
}

img {
  margin-bottom: 20px;
  width: 100px;
}

p {
  padding: 20px;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  height: 35px;
  width: 165px;
  background-color: $white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
}

.input-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  @media screen and (min-width: $mediumScreen) {
    flex-flow: row;
  }
}

li {
  margin-top: 15px;
}

.add-button {
  height: 30px;
  width: 60px;
  background-color: $lightBlue;
  color: $white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.backlog-list {
  max-width: 900px;
  width: 80%;
}

.grid-row {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  padding: 1px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 4px;


  &.head {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
}

.inputs {
  text-align: center;

  button {
    width: 26px;
    background-color: $red;
    color: $white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
  }
}
